<!DOCTYPE html>
<html>
  <head>
    <title>completed</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload.css') }}">
  <!-- <form class="form-horizontal" action="/submit" method="post2" enctype="multipart/form-data"> -->

  <div class= "zone">
  <body>
    
    <h1>🚗 ผลลัพธ์การทำนายชิ้นส่วนรถยนต์และระดับความเสียหาย คือ 🚗</h1>
    <img src={{ url_for('static', filename='p01.jpg')}} height="200" alt="processed image">
    <h2> ชิ้นส่วนที่ได้รับความเสียหายคือ 🚗    : <i> {{prediction1}} </i></h2>
    <h2> ระดับความเสียหายคือ  🚗   : <i> {{prediction2}} </i></h2> 

  </body>
  </div>


</div>
</html>