<!DOCTYPE html>
<html>
  <head>
    <title>ผลทำนาย</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload.css') }}">
  <!-- <form class="form-horizontal" action="/submit" method="post2" enctype="multipart/form-data"> -->

  <div class= "zone">
  <body>
    <h1>---------------------------------------------------------------------------------------------- </h1>  
    <h1>🚗 ผลลัพธ์การทำนายชิ้นส่วนรถยนต์และระดับความเสียหาย คือ 🚗</h1>
    <h1>---------------------------------------------------------------------------------------------- </h1>
    <br></br>
    <img src={{ url_for('static', filename='p01.jpg')}} height="300" alt="processed image">
    <br></br>

    <h1> ชิ้นส่วนที่ได้รับความเสียหายคือ 🚗    : <i> {{prediction1}} </i></h1>
    <h1> ระดับความเสียหายคือ  🚗   : <i> {{prediction2}} </i></h1> 

  </body>
  </div>


</div>
</html>