<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload.css') }}">
  </head>  
  <body>
  <div class= "zone">

    <br></br>

    <h1>Image Upload</h1>
  <div id="dropZ">
<img src="file:///C:/Users/ACER/Downloads/61059.svg" class="upload-icon" height="200"/>
<br></br>


<form action="/upload" method="post" enctype="multipart/form-data" >
    </div>
      <div class = "selectFile">
      <input type="file" name="image" accept=".jpg, .jpeg">

      <input type="submit" value="Upload">
    </form>
  </body>
</div>
</div>
  
</html>